.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.nav a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }
}
